@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}