<div class="flex h-screen w-screen items-center justify-center bg-gray-900">
  <div class="w-6/12 max-w-lg min-w-min rounded-3xl bg-gray-800 p-4">
    <h2 class="mb-10 text-3xl text-gray-300">Sign In</h2>
    <form>
      <div class="mb-5 grid grid-cols-[150px_1fr] gap-4">
        <label class="text-lg text-gray-300">Username</label>
        <input class="w-64 rounded-md border border-fuchsia-50 pl-2 text-lg text-white outline-none" />
      </div>

      <div class="mb-5 grid grid-cols-[150px_1fr] gap-4">
        <label class="text-lg text-gray-300">Password</label>
        <input type="password" class="w-64 rounded-md border border-fuchsia-50 pl-2 text-lg text-white outline-none" />
      </div>

      <button type="submit" class="mt-5 rounded-md border border-fuchsia-50 p-2 text-sm text-gray-300">Login</button>
    </form>
  </div>
  <div class="absolute top-0 rounded-br-2xl rounded-bl-2xl border border-red-500 bg-gray-800 p-4 text-gray-300">Wrong Username or Password</div>
</div>